APP_ENV=development
PORT=3001
CORS_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=431505919478-lc520qieiuu8ujskkevb9leljcuqo34m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
JWT_SECRET=replace-with-a-long-random-secret
SESSION_SECRET=replace-with-a-long-random-session-secret
AUTHORIZED_DOMAIN=lis.com.co
